/* CSS declarations go here */

.column.login-column {
  max-width: 450px;
  margin-top: 50px;
}

.column.empty-state {
  max-width: 500px;
  margin-top: 50px;
}

.column.signup-column {
  max-width: 550px;
  margin-top: 50px;
}

.column.login-column .form .ui.input {
  width: 100%;
}

.settings-dropdown span.name {
  margin-right: 10px;
}

.hidden-field {
  display: none !important;
}
