/* CSS declarations go here */

.column.login-column {
  max-width: 450px;
  margin-top: 50px;
}

.column.login-column .form .ui.input {
  width: 100%;
}

.settings-dropdown span.name {
  margin-right: 10px;
}

.sticky-fixed {
  position: fixed;
  top: 10px;
}
