/* CSS declarations go here */

.column.login-column {
  max-width: 450px;
  margin-top: 50px;
}

.column.empty-state {
  max-width: 500px;
  margin-top: 50px;
}

.column.signup-column {
  max-width: 550px;
  margin-top: 50px;
}

.column.login-column .form .ui.input {
  width: 100%;
}

.login-column .login-links {
  margin-top: 10px;
}

.settings-dropdown span.name {
  margin-right: 10px;
}

.hidden-field {
  display: none !important;
}

.book-user .ui.disabled.input {
  opacity: 1;
}

/* Player card */

.ui.cards > .available-spot.card > .content > .header {
  color: rgb(33,186,69);
}

.ui.cards > .tee-time-information-card.card {
  box-shadow: none;
  background-color: #f3f4f5;
}
.ui.cards > .tee-time-information-card.card .content {
  padding-left: 0;
  padding-right: 0;
}

/* Tee times */

.tee-times .date-container {
  margin-bottom: 50px;
}

.tee-times .date-container .list > .item {
  margin-bottom: 25px;
}
